/* PostSystem.css */
.post-system-container {
    padding: 20px;
}

.posts-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.create-post-button {
    background-color: #3a3a3a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 200px;
}

.create-post-button:hover {
    background-color: #555;
}

.post-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 50%;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-header .profile-picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-content h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.post-content p {
    font-size: 16px;
    margin-bottom: 10px;
}

.button {
    background-color: #3a3a3a;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.button.cancel-button {
    background-color: #ff4d4d;
}

.button.cancel-button:hover {
    background-color: #ff1a1a;
}
