.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.auth-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #410095;
    margin-bottom: 20px;
    padding: 10px;
}

.auth-toggle-button {
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 0%;
    position: relative;
    color: inherit; 
    padding: 0px;
    margin: 0px;
}

.auth-toggle-button:hover {
    background-color: transparent; /* Ensures text color does not change on hover */
}

.auth-toggle-button:hover::after {
    width: 100%;
    left: 0;
}

.auth-toggle-button::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: currentColor; /* Uses the current text color */
    transition: width 0.4s ease, left 0.4s ease; /* Smooth transition */
}

.auth-toggle-button.clicked::after {
    width: 100%;
    left: 0;
    transition: none; /* Disable transition */
    height: 1px;
}

.profilePictureP {
    width: 100%;
    padding-top: 5px;
    text-align: center;
    font-size: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    background-color: #3a3a3a;
    border-radius: 4px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

p.error {
    margin-top: 10px;
    color: red;
}

p.success {
    color: green;
}
