.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff; /* Changed background color */
  }
  
  .navbarAuth {
    width: 100%;
    background-color: #410095;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  .navbar-title {
    margin: 0;
  }
  
  .auth-nav {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 20px;
  }
  
  .auth-toggle-button {
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    color: #3a3a3a;
  }
  
  .auth-toggle-button.active {
    border-bottom-color: #3a3a3a;
  }
  
  .auth-form-container {
    width: 100%;
    max-width: 400px; /* Adjust max-width as needed */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Centering the form */
  }
  
  /* Reusing styles from the edit profile CSS */
  .edit-profile-container {
      padding: 20px;
      max-width: 600px;
      margin: 0 auto;
  }
  
  .edit-profile-container h2 {
      text-align: center;
      margin-bottom: 20px;
  }
  
  .edit-profile-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .edit-profile-form {
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
      display: flex;
}
  
  .form-group {
      margin-bottom: 10px;
      
  }
  
  .form-group label {
      display: block;
      margin-bottom: 5px;
      color: #333;
  }
  
  .form-group input[type="text"],
  .form-group input[type="password"],
  .form-group input[type="file"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
  }
  
  .form-group input[type="checkbox"] {
      margin-top: 10px;
  }
  
  button {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: block;
      width: 100%;
      margin-top: 10px;
  }
  
  button:hover {
      background-color: #555;
  }
  