.video-tutorials-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.video-card {
    width: 300px; /* Ancho fijo para cada tarjeta de video */
    margin-bottom: 20px;
}

.video-thumbnail-container {
    width: 100%;
    flex-wrap: wrap;
    background-color: #f0f0f0; /* Color de fondo para el relleno */
    
}

.video-thumbnail {
    height: 35%;
    object-fit: cover;
    border-radius: 8px; /* Añade bordes redondeados */
}



.video-content {
    padding: 10px;
}

.video-title {
    font-size: 16px;
    margin-bottom: 5px;
}

.video-description {
    font-size: 14px;
    color: #666;
}
