
.center-container {
  width: 100%;
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.message-form h2 {
  text-align: center;
}

.form-content {
  width: 100%; 
  max-width: 500px; 
  margin: 0 auto; 
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group select,
.form-group textarea,
.form-group input[type="text"] {
  max-width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  background-color: #3a3a3a;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px; 
}

#tutorial-button {
  background-color: #3a3a3a6b;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px; 
}


#tutorial-button:hover {
  background-color: #9240d5;
}



.submit-button:hover {
  background-color: #9240d5;
}

.select-contacts {
  margin-left: 10px;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 20%; 
  max-width: 900px; 
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.modal-content label {
  margin-bottom: 10px;
}

.modal-content input[type="text"] {
  margin-bottom: 15px;
  margin-top: 5px;
  width: 300px;
  max-width: 100%;
}

.modal-content button {
  background-color: #3a3a3a;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px; 
}

.modal-content button[type="button"]:hover,
.modal-content button[type="submit"]:hover {
  background-color: #9240d5;;
}

.popup {
  padding-top: 50px;
}

/* Disclaimer */
.disclaimer {
  color: #888;
  font-size: 14px;
  margin-top: 10px;
}


.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-wrapper select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  cursor: pointer; /* Asegúrate de que el cursor cambie al pasar sobre el select */
}

.select-wrapper::after {
  content: '\25BE'; /* Flecha hacia abajo */
  font-size: 12px;
  color: #999;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: transform 0.3s ease; /* Transición suave para la transformación */
}

.select-wrapper.open::after {
  transform: translateY(-50%) rotate(180deg); /* Rotación de la flecha cuando está abierto */
}

